<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>首页 - 大误</title>
	<link rel="stylesheet" href="__STATIC__/home/css/public.css">
	<link rel="stylesheet" href="__STATIC__/home/css/swiper.min.css">
	<link rel="stylesheet" href="__STATIC__/home/css/style.css">
	<script src="__STATIC__/home/js/flexible.js"></script>
	<script src="__STATIC__/home/js/flexible_css.js"></script>
	<style>
		html, body {
			position: relative;
			height: 100%;
			background: #fff;
		}
		.page-swiper-container {
			width: 100%;
			height: 100%;
			margin-left: auto;
			margin-right: auto;
		}
		.swiper-slide {
			background: #fff;
		}
	</style>
</head>
<body>
<div class="header">
	<div class="container header-container clearfix">
		<div class="logo-wrap fl">
			<a href="/home"><img src="__STATIC__/home/images/logo.png" alt=""></a>
		</div>
	</div>
	<ul class="clearfix about-nav swiper-pagination font16">
		<li data-index="1" class="swiper-pagination-bullet active" tabindex="0" role="button"><span>关于大误</span></li>
		<li class="swiper-pagination-bullet" tabindex="0" data-index="2" role="button"><span>企业简介</span></li>
		<li class="swiper-pagination-bullet" tabindex="0" data-index="3" role="button"><span>使命</span></li>
		<li class="swiper-pagination-bullet" tabindex="0" data-index="4" role="button"><span>口号</span></li>
	</ul>
</div>
<div class="main about-main">
	<div class="container about-container font14">
		<!-- Swiper -->
		<div class="swiper-container page-swiper-container">
			<div class="swiper-wrapper page-swiper-wrapper">
				<div class="swiper-slide">
					<div class="section section1">
						<div class="about-con-wrap">
							<!-- Swiper -->
							<div class="swiper-container about-swiper-container font14">
								<div class="swiper-wrapper">
									<div class="tit-item">[关于大误]</div>
									<div class="swiper-slide">
										<p class="item">如果说最早接触到宠物，我出生就有了小花和大黄。小花是爷爷奶奶养的一只花色的柴狗（中华田园犬），大黄是一只黄色的狸猫。名字记不得是谁起的，但肯定不是爷爷奶奶起的。最初狗是用来看家护院，猫是用来捉鼠护粮，我能感知到这是他们唯一存在的意义，也是我对狗和猫的初次认知。忙于生计父母外出务工，爷爷奶奶平时农活又忙，陪我最多的就是小花大黄了，我的童年也就是跟着这两小只度过的，直到小学3年级的时候小花大黄的相继离世，才知道他们早已是我生命的一部分，这是我的感知，而不是所谓的环境，也是我重新思考他们存在的意义。小花是带着遗憾离开的，这种后知后觉，告诉自己再也不养宠物了。出于天生的对动物的无法抗拒，期间有想过再领养一只小花，大黄但都因为各种原因搁浅。</p>
										<p class="item">时间来到2017年我研究生毕业，在女朋友的劝导下养了一只柴犬，我们选了黑色的，因为他也是花色的，取名叫大误，女朋友取的，她讲了很多关于大误名字的由来，这些对我都已经不在重要，重要是，希望这次遇见不是错误就好，为了更好的照顾”他”女朋友毕业并没有急着去找工作，而是选择在网上找了份兼职，这样就会有更多的时间去陪“他”，让“他”有个好的童年。</p>
										<p class="item">在准备接“大误”回大家的一段时间里我们做了很多功课，即便是这样，当把大误接回家的时候，还是会手忙脚乱，作为一个新手，我关注的都在于宠物身上，至于宠物周边很多都是靠一些测评网站，或者宠物医生的推荐上，再或者身边养宠物的朋友去推荐，不管是信息差也好或者是某种利益结合体再或者是因为养宠物所处的阶段不同，很多建议都有它的滞后性，大多是花了时间却买不到适合的产品，特别是幼宠更是定位模糊，产品很实用的质量却没有那么好，质量好的，又不是这个年龄段需要的，一线品牌价格又虚高，就磨牙玩具来说，在“大误”前四个月几乎不怎么玩，曾怀疑过这个产品的价值是什么，直到4个多月以后才发现原来这个产品更适合4个月后的狗狗用，但是在购买说明中写的幼犬适用，正是有了这样的经历，抱着对用户真切的体察和尊重，我和朋友发起了“大误”这个宠物用品品牌，希望能够为初次领养宠物的新手节约不必要的时间和精力，为幼宠提供健康的生活用品，我们推出了一款针对幼宠的新手礼盒，为遇见添一份薄礼。</p>
										<p class="item space-ele"></p>
									</div>
								</div>
								<!-- Add Scroll Bar -->
								<!-- <div class="swiper-scrollbar"></div> -->
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="section section2">
						<div class="sec-wrap about-wrap clearfix">
							<div class="tit-item">[企业简介]</div>
							<div class="content-item">
								<p class="item">公司成立于2018年5月，公司员工人均年龄24岁，大部分都是刚从校园出来的学生，也有初次领养爱宠的新手，出于对幼宠的关爱，对用户真切的体察和尊重，通过消费者到创业者最终回归消费者的身份的转变去做更懂消费者的产品。大误的初衷是解决初次领养宠物的小主能够不为宠物周边去浪费太多时间和精力，而是把有限的精力和时间用在陪伴刚刚拥有的爱宠身上，而这个筛选的过程由我们这个专业的团队去完成，专注幼宠生活。</p>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="section section3">
						<div class="sec-wrap about-wrap clearfix">
							<div class="tit-item">[使命]</div>
							<div class="content-item">
								<p class="item">大误致力领养宠物的入门阶段，解决新手养宠、关注幼宠健康为己任，提供合理的低价购买这样就好的产品。公司秉承“物尽其用后的合理低价”的企业精神，用创新和创意思维求发展，为缔造幼宠的健康生活而努力。</p>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="section section4">
						<div class="sec-wrap other-wrap clearfix">
							<ul>
								<li class="slogan">
									<span class="left-tit">口号</span>
									<span class="right-con">大误致力领养宠物的入门阶段，解决新手养宠、关注幼宠健康为己任，提供合理的低价购买这样就好的产品。公司秉承“物尽其用后的合理低价”的企业精神，用创新和创意思维求发展，为缔造幼宠的健康生活而努力。</span>
								</li>
								<li>
									<span class="left-tit">愿景</span>
									<span class="right-con">用合理的低价购买这样就好的产品。</span>
								</li>
								<li>
									<span class="left-tit">Slogan</span>
									<span class="right-con">To Be A  Useful Partner.<br/>愿所有宠物都能健康、幸福的成长</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>

<script src="__STATIC__/home/js/zepto.js"></script>
<script src="__STATIC__/home/js/swiper.min.js"></script>
<script>
    // var swiper = new Swiper('.page-swiper-container', {
    //     direction: 'vertical',
    //     slidesPerView: 1,
    //     spaceBetween: 30,
    //     mousewheel: true,
    //     pagination: {
    //         el: '.swiper-pagination',
    //         clickable: true,
		// 	type: 'custom'
    //     },
    // });
    var swiper = new Swiper('.page-swiper-container', {
        pagination: {
			el: '.swiper-pagination',
			clickable: true,
			type: 'custom'
        },
        effect: 'coverflow',
        fade: {
            crossFade: true,
        },
		on: {
            slideChange: function(){
				$('.about-nav li').eq(swiper.activeIndex).addClass('active').siblings().removeClass('active');
            }
		},
        coverflowEffect: {
            rotate: 20,
            stretch: -19,
            depth: 100,
            modifier: 2,
            slideShadows : true
		}
            
    });


    var swipers = new Swiper('.about-swiper-container', {
        direction: 'vertical',
        slidesPerView: 'auto',
        freeMode: true,
        scrollbar: {
            el: '.swiper-scrollbar',
        },
        mousewheel: true,
    });



    $(function(){

        // var swiper = new Swiper('.about-swiper-container', {
        //     scrollbar: '.swiper-scrollbar',
        //     direction: 'vertical',
        //     slidesPerView: 'auto',
        //     mousewheelControl: true,
        //     freeMode: true,
        //     roundLengths : true, //防止文字模糊
        // });

        // var secOffestArr = [];
        // for(var i=1;i<=4;i++){
        //     var $floor = $(".about-container").find(".section"+i);
        //     var top = $floor.offset().top;
        //     secOffestArr.push(top);
        // };
        //
        // var ww = $(window).height();
        // var targetEvent = IsPC() ? 'click' : 'tap';
        //
        // $(".about-nav li")[targetEvent](function(){
        //     var index = $(this).data('index')-1;
        //     $(window).scrollTo({
        //         toT: secOffestArr[index] -50
        //     });
        // });
        //
        // function getTop(){
        //     return window.pageYOffset || document.documentElement && document.documentElement.scrollTop || document.body.scrollTop;
        // };
        //
        // function IsPC() {
        //     var userAgentInfo = navigator.userAgent;
        //     var Agents = ["Android", "iPhone",
        //         "SymbianOS", "Windows Phone",
        //         "iPad", "iPod"];
        //     var flag = true;
        //     for (var v = 0; v < Agents.length; v++) {
        //         if (userAgentInfo.indexOf(Agents[v]) > 0) {
        //             flag = false;
        //             break;
        //         }
        //     }
        //     return flag;
        // }
    });
</script>
</body>
</html>