<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>首页 - 大误</title>
	<link rel="stylesheet" href="__STATIC__/home/css/public.css">
	<link rel="stylesheet" href="__STATIC__/home/css/style.css">
	<style>

	</style>
</head>
<body>
<div class="header">
	<div class="container header-container clearfix">
		<div class="logo-wrap fl">
			<img src="__STATIC__/home/images/logo.png" alt="">
		</div>
	</div>
</div>
<div class="main">
	<div class="container contact-container">
		<dl class="tit-nav clearfix">
			<dt class="fl"><h1>联系我们</h1></dt>
			<dd class="fl">Contact</dd>
		</dl>
		<ul class="share-wrap clearfix">
			<li>
				<img src="__STATIC__/home/images/weixin.png" alt=""><span>@大误</span>
			</li>
			<li>
				<img src="__STATIC__/home/images/weibo.png" alt=""><span>@大误官微</span>
			</li>
		</ul>
		<div class="address-wrap clearfix">
			<div class="address fl">
				<p>广东省广州市珠海区南天路51号9号楼</p>
				<p>Building 9，No. 51，Nantian Road，</p>
				<p>Haizhu District，Guangzhou，Guangdong，China</p>
			</div>
			<a href="#" target="_blank" class="fl map-wrap"><img src="__STATIC__/home/images/map.png" alt=""></a>
		</div>
		<div class="tel-wrap">
			<p>T:020-3860-8003</p>
			<p>E:dawumaoyi@163.com</p>
		</div>
	</div>
</div>
</body>
</html>