<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页 - 大误</title>
    <script src="__STATIC__/home/js/flexible.js"></script>
    <script src="__STATIC__/home/js/flexible_css.js"></script>
    <link rel="stylesheet" href="__STATIC__/home/css/public.css">
    <link rel="stylesheet" href="__STATIC__/home/css/style.css">
    <style>
        .line-wrap{ text-align: center;}
    </style>
</head>
<body>
<div class="header">
    <div class="container header-container clearfix">
        <div class="logo-wrap fl">
            <img src="__STATIC__/home/images/logo.png" alt="">
        </div>
    </div>
</div>
<div class="main">
    <div class="container prodetail-container">
        <div class="img-preview">
            <a href="/"><img src="__STATIC__/home/images/logo.png" alt=""></a>
        </div>
        <div class="detail-con font16">
            <h1 class="main-tit font22">陶瓷碗</h1>
            <p>陶瓷的材质表面光滑且不易刮花，且易于消毒和清晰，能有助于保持干净，降低细菌滋生。</p>
            <p>尤其是猫屎舌头有到勾的构造，容易在塑料碗上留下刮痕，藏匿细菌，</p>
            <p>有些猫会对塑料食盆过敏，致使长粉刺。少见的亮丽色彩，非常适合1~6kg的中小型毛小孩，以符合猫咪</p>
            <p>狗狗、长鼻/短鼻，吃饭时不同的习性。</p>
            <div class="line-wrap"><span class="line"></span></div>
            <div class="detail-param">
                <ul>
                    <li><b>尺寸</b>直径10cm 高度3cm</li>
                    <li><b>材质</b>陶瓷</li>
                    <li><b>颜色</b>清炖/白练</li>
                    <li><b>适合</b>1-6kg的幼宠</li>
                </ul>
            </div>
            <div class="line-wrap"><span class="line"></span></div>
            <p>陶瓷的材质表面光滑且不易刮花，且易于消毒和清晰，能有助于保持干净，降低细菌滋生。</p>
            <p>尤其是猫屎舌头有到勾的构造，容易在塑料碗上留下刮痕，藏匿细菌，</p>
            <p>有些猫会对塑料食盆过敏，致使长粉刺。少见的亮丽色彩，非常适合1~6kg的中小型毛小孩，以符合猫咪</p>
            <p>狗狗、长鼻/短鼻，吃饭时不同的习性。</p>
            <div class="btn-buy">
                <a class="noselect" href="#" target="_blank" unselectable="on">点击购买</a>
            </div>
            <div class="back-btn">
                <a href="#" target="_blank">BACK</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>