<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>详情页 - 飞扬</title>
    <link rel="stylesheet" href="__STATIC__/home/css/public.css">
    <link rel="stylesheet" href="__STATIC__/home/css/banner.css">
    <link rel="stylesheet" href="__STATIC__/home/css/detail.css">
</head>
<body scroll="no">
<div class="container">
    <div class="haeder">
        <div class="inner-nav">
            <div class="nav-wrap">
                <div class="global">
                    <ul class="set">
                        <li><a href="">首页</a></li>
                        <li><a href="">公司简介</a></li>
                        <li><a href="">产品</a></li>
                    </ul>
                    <ul class="sub">
                        <li><a href="">所在地</a></li>
                        <li><a href="">公司简介</a></li>
                    </ul>
                </div>
                <div class="second">
                    <ul class="set">
                        <li><a href=""></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="nav-all" style="pointer-events: none; opacity: 0; visibility: hidden;">
            <div class="inner-wrap">
                <div class="nav-con-wrap">
                    <div class="wrap">
                        <h1 class="logo">
                            <a href="#"><img src="__STATIC__/home/images/bw-logo.png" width="100" height="100" alt=""></a>
                        </h1>
                        <div class="nav-wrap clearfix">
                            <div class="global">
                                <ul class="set">
                                    <li><a href="">首页</a></li>
                                    <li><a href="">公司简介</a></li>
                                    <li><a href="">产品</a></li>
                                </ul>
                                <ul class="sub">
                                    <li><a href="">所在地</a></li>
                                    <li><a href="">公司简介</a></li>
                                </ul>
                            </div>
                            <div class="second">
                                <div class="row">
                                    <ul class="set">
                                        <li style="opacity: 0;"><a href="#"><span>雪屋猫砂盆</span></a></li>
                                        <li><a href="#"><span>吸吸君膨润土猫砂</span></a></li>
                                        <li><a href="#"><span>Dr.p猫砂伴侣8包装</span></a></li>
                                        <li><a href="#"><span>黑洞膨润土猫砂</span></a></li>
                                        <li><a href="#"><span>宠物喂药器</span></a></li>
                                        <li><a href="#"><span>除毛按摩刷</span></a></li>
                                        <li><a href="#"><span>雪屋猫砂盆</span></a></li>
                                        <li><a href="#"><span>吸吸君膨润土猫砂</span></a></li>
                                        <li><a href="#"><span>Dr.p猫砂伴侣8包装</span></a></li>
                                        <li><a href="#"><span>黑洞膨润土猫砂</span></a></li>
                                        <li><a href="#"><span>宠物喂药器</span></a></li>
                                        <li><a href="#"><span>除毛按摩刷</span></a></li>
                                        <li><a href="#"><span>除毛按摩刷</span></a></li>
                                        <li><a href="#"><span>雪屋猫砂盆</span></a></li>
                                        <li><a href="#"><span>吸吸君膨润土猫砂</span></a></li>
                                        <li><a href="#"><span>Dr.p猫砂伴侣8包装</span></a></li>
                                        <li><a href="#"><span>黑洞膨润土猫砂</span></a></li>
                                        <li><a href="#"><span>宠物喂药器</span></a></li>
                                        <li><a href="#"><span>除毛按摩刷</span></a></li>
                                    </ul>
                                </div>
                                <!-- <div class="row">
                                    <ul class="set">
                                        <li><a href="#"><span>雪屋猫砂盆</span></a></li>
                                        <li><a href="#"><span>吸吸君膨润土猫砂</span></a></li>
                                        <li><a href="#"><span>Dr.p猫砂伴侣8包装</span></a></li>
                                        <li><a href="#"><span>黑洞膨润土猫砂</span></a></li>
                                        <li><a href="#"><span>宠物喂药器</span></a></li>
                                        <li><a href="#"><span>除毛按摩刷</span></a></li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-menu">
            <a href="javascript:;">
                <ul>
                    <li></li>
                    <li></li>
                </ul>
            </a>
        </div>
    </div>

    <div class="content">
        <div class="content-wrap">
            <div class="bw-banner">
                <div class="dot-nav">
                    <div class="dot-wrap">
                        <span class="active"></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="banner-wrap">
                    <ul>
                        <li class="part part1">
                            <img src="__STATIC__/home/images/head1.jpg" data-width="1600" data-height="980" alt="">
                        </li>
                        <li class="part part2">
                            <img src="__STATIC__/home/images/b2.jpg" data-width="1600" data-height="980" alt="">
                        </li>
                        <li class="part part3">
                            <img src="__STATIC__/home/images/b3.jpg" data-width="1600" data-height="980" alt="">
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="head-imgs">
                <span class="phone"><img src="__STATIC__/home/images/head1.jpg" alt=""></span>
            </div> -->
            <div class="inner-box">
                <div class="description fontStyle">
                    <div class="detail-main-con clearfix">
                        <div class="detail-info-wrap">
                            <div class="information fontStyle">
                                <h1 class="main-tit">小佩PETKIT宠物智能冷暖窝猫窝夏季降温空调窝狗窝床冰垫小型犬</h1>
                                <p class="main-info">大误设计</p>
                                <p class="main-info">冷暖干湿 智能控温 四季如春的守护</p>
                            </div>
                            <div class="colum-layout col_3">
                                <div class="col">
                                    <h2 class="info-tit">设计简介：</h2>
                                    <div class="info-con">小佩PETKIT宠物智能冷暖窝猫窝夏季降温空调窝狗窝床小佩PETKIT宠物智能冷暖窝猫窝夏季降温空调窝狗窝床小佩PETKIT宠物智能冷暖窝猫窝夏PETKIT宠物智能冷暖窝猫窝夏季降温空调窝狗窝床小佩PETKIT宠物智能冷暖窝猫窝夏季降温空调窝狗窝床小佩PETKIT宠物智能冷暖窝猫窝季降温空调窝狗窝床小佩PETKIT宠物智能冷暖窝猫窝夏季降温空调窝狗窝床</div>
                                </div>
                                <div class="col">
                                    <h2 class="info-tit">产品参数：</h2>
                                    <div class="info-con">
                                        <ul class="div-table">
                                            <li class="div-table-cell table-col">品牌: </li>
                                            <li class="div-table-cell">小佩</li>
                                        </ul>
                                        <ul class="div-table">
                                            <li class="div-table-cell table-col">颜色分类:</li>
                                            <li class="div-table-cell">白色 粉红色</li>
                                        </ul>
                                        <ul class="div-table">
                                            <li class="div-table-cell table-col">货号:</li>
                                            <li class="div-table-cell">PK90909</li>
                                        </ul>
                                        <ul class="div-table">
                                            <li class="div-table-cell table-col">适用对象:</li>
                                            <li class="div-table-cell">通用</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="detail-btn">
                                <a class="btn" href="#" target="_blank">进入旗舰店购买</a>
                            </div>
                        </div>
                        <div class="detail-img-wrap">
                            <img src="__STATIC__/home/images/side-img.png" alt="">
                        </div>
                    </div>
                    <div class="detail-img">
                        <ul>
                            <li>
                                <img src="__STATIC__/home/images/p1.jpg" alt="">
                            </li>
                            <li>
                                <img src="__STATIC__/home/images/p2.jpg" alt="">
                            </li>
                            <li>
                                <img src="__STATIC__/home/images/p3.jpg" alt="">
                            </li>
                            <li>
                                <img src="__STATIC__/home/images/p4.jpg" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class=""></div>
            </div>
        </div>
    </div>

    <style media="screen">
        .kerning{
            -webkit-font-feature-settings: normal;
            -ms-font-feature-settings: normal;
            -o-font-feature-settings: normal;
            font-feature-settings: normal;
        }
        .footer{
            border-top: 1px solid #c6c6c6;
        }
        .footer .inner-box{
            position: relative;
            padding-top: 200px;
            padding-bottom: 65px;
            font-size: 12px;
            color: #999;
        }
        .footer-ullist{
            margin-left: 15px;
            font-size: 0;
        }
        .footer-ullist li{
            display: inline-block;
            font-size: 12px;
        }
        .footer-ullist li a{
            color: #999;
        }
        .footer-h2-logo img{
            width: 100px;
        }
    </style>
    <div class="footer">
        <div class="inner-box">
            <h2 class="footer-h2-logo"><img src="__STATIC__/home/images/bw-logo.png" alt=""></h2>
            <div class="wrap clearfix">
                <div class="meta-wrap fl">
                    <div class="address fl kerning">
                        107-0061 東京都港区北青山2丁目11番3号 A-PLACE青山
                    </div>
                    <ul class="footer-ullist fl">
                        <li>大误联系方式：</li>
                        <li><a href="tel:03-5785-6800">03-5785-6800</a></li>
                    </ul>
                </div>
                <div class="copyright-wrap fr">© 2016 SUN-AD Inc. All Rights Reserved.</div>
            </div>
        </div>
    </div>
</div>


<script src="__STATIC__/home/js/jquery.js"></script>
<script type="text/javascript" src="__STATIC__/home/js/jquery-animate-transform.js"></script>
<!-- <script type="text/javascript" src="__STATIC__/home/js/jquery-css-transform.js"></script> -->
<script src="https://cdn.bootcss.com/jquery-easing/1.4.1/jquery.easing.js"></script>
<script type="text/javascript" src="__STATIC__/home/js/banner.js"></script>
<script type="text/javascript">
    bannerJson.entry({
        animate: 'scale'
    });

    var $navAll = $(".nav-all");
    var $secli = $navAll.find('.second .set').children();
    $(".btn-menu").on('click',function(){
        if(!$(this).hasClass('close')){
            $(this).addClass("close");
            $navAll.css({
                'pointerEvents': 'auto',
                'visibility': 'visible'
            }).stop().animate({
                'opacity': 1
            },{
                duration: 400,
                easing:'easeInQuad'
            });

            for (var i = 0; i < $secli.length; i++) {
                $secli.eq(i).addClass("animate_trans");
                $secli.eq(i).stop(true).delay(i*20).animate({
                    'opacity': '1'
                },10);
            };
        }else{
            $(this).removeClass("close");
            $navAll.stop().animate({
                'opacity': 0
            },{
                duration: 300,
                easing:'easeOutQuad',
                complete: function(){
                    $(this).css({
                        'pointerEvents': 'none',
                        'visibility': 'hidden'
                    })
                }
            });

            for (var i = 0; i < $secli.length; i++) {
                $secli.eq(i).removeClass("animate_trans");
                $secli.eq(i).css({
                    'opacity': '0'
                });
            };

        }
    });
</script>
</body>
</html>
