<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="__STATIC__/home/css/public.css">
	<link rel="stylesheet" href="__STATIC__/home/css/banner.css">
	<link rel="stylesheet" href="__STATIC__/home/css/style.css">
</head>
<body scroll="no">
	<div class="haeder">
		<div class="inner-nav">
			<div class="nav-wrap">
				<div class="global">
					<ul class="set setlists">
						<li><a href="">首页</a></li>
						<li><a href="">公司简介</a></li>
						<li><a href="">产品</a></li>
					</ul>
					<ul class="sub setlists">
						<li><a href="">所在地</a></li>
						<li><a href="">公司简介</a></li>
					</ul>
				</div>
				<div class="second">
					<ul class="set">
						<li><a href=""></a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="nav-all" style="pointer-events: none; opacity: 0; visibility: hidden;">
			<div class="inner-wrap">
				<div class="nav-con-wrap">
					<div class="wrap">
						<h1 class="logo">
							<a href="#"><img src="__STATIC__/home/images/bw-logo.png" width="100" height="100" alt=""></a>
						</h1>
						<div class="nav-wrap clearfix">
							<div class="global">
								<ul class="set">
									<li><a href="">首页</a></li>
									<li><a href="">公司简介</a></li>
									<li><a href="">产品</a></li>
								</ul>
								<ul class="sub">
									<li><a href="">所在地</a></li>
									<li><a href="">公司简介</a></li>
								</ul>
							</div>
							<div class="second">
								<div class="row">
									<ul class="set r-list">
										<li style="opacity: 0;"><a href="#"><span>雪屋猫砂盆</span></a></li>
										<li><a href="#"><span>吸吸君膨润土猫砂</span></a></li>
										<li><a href="#"><span>Dr.p猫砂伴侣8包装</span></a></li>
										<li><a href="#"><span>黑洞膨润土猫砂</span></a></li>
										<li><a href="#"><span>吸吸君膨润土猫砂</span></a></li>
										<li><a href="#"><span>Dr.p猫砂伴侣8包装</span></a></li>
										<li><a href="#"><span>黑洞膨润土猫砂</span></a></li>
										<li><a href="#"><span>吸吸君膨润土猫砂</span></a></li>
										<li><a href="#"><span>Dr.p猫砂伴侣8包装</span></a></li>
										<li><a href="#"><span>黑洞膨润土猫砂</span></a></li>
										<li><a href="#"><span>吸吸君膨润土猫砂</span></a></li>
										<li><a href="#"><span>Dr.p猫砂伴侣8包装</span></a></li>
										<li><a href="#"><span>黑洞膨润土猫砂</span></a></li>
									</ul>
								</div>
								<!-- <div class="row">
									<ul class="set">
										<li><a href="#"><span>雪屋猫砂盆</span></a></li>
										<li><a href="#"><span>吸吸君膨润土猫砂</span></a></li>
										<li><a href="#"><span>Dr.p猫砂伴侣8包装</span></a></li>
										<li><a href="#"><span>黑洞膨润土猫砂</span></a></li>
										<li><a href="#"><span>宠物喂药器</span></a></li>
										<li><a href="#"><span>除毛按摩刷</span></a></li>
									</ul>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="btn-menu">
			<a href="javascript:;">
				<ul>
					<li></li>
					<li></li>
				</ul>
			</a>
		</div>
	</div>

	<style>
		.fuller-container{
			padding-top: 192px;
		}

	</style>
	<div class="fuller-container">
		<div class="bw-banner">
			<div class="dot-nav">
				<div class="dot-wrap">
					<span class="active"></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="banner-wrap">
				<ul>
					<li class="part part1">
						<img src="__STATIC__/home/images/b11.gif" data-width="1600" data-height="1025" alt="">
					</li>
					<li class="part part2">
						<img src="__STATIC__/home/images/b12.jpg" data-width="1600" data-height="1025" alt="">
					</li>
					<li class="part part3">
						<img src="__STATIC__/home/images/b13.jpg" data-width="1600" data-height="1025" alt="">
					</li>
				</ul>
			</div>

		</div>
	</div>

	<script src="__STATIC__/home/js/jquery.js"></script>
	<script type="text/javascript" src="__STATIC__/home/js/jquery-animate-transform.js"></script>
	<script src="https://cdn.bootcss.com/jquery-easing/1.4.1/jquery.easing.js"></script>
	<script type="text/javascript" src="__STATIC__/home/js/banner.js"></script>
	<script>
		bannerJson.entry({
	        animate: 'originX',
			switch_time: 1000,
			setTime: 5000,
			animate_time: 10000
	    });

        calcNavW();

		$(window).resize(function(){
            calcNavW();
		});
		
		function calcNavW() {

            var $ulset = $(".nav-wrap").find('.r-list.set');
            $ulset.parent().css({
                'width': $ulset.width()
            });
        }

        var FeiyLeft = function(opts){
			this.listDoms = opts.listDoms;
			this.dur = opts.dur || 40;
			this.transY = opts.transY || 5;
			this.speed = opts.speed || 26;
		};

        FeiyLeft.prototype = {
            fadeIn: function(){
				var $listDoms = this.listDoms;
				var that = this;
                var len = $listDoms.length;
                for (var i = 0; i < len; i++) {
                    $listDoms.eq(i).addClass("animate_trans");
                    var express = that.speed/len*(i+1)*16+6;
                    $listDoms.eq(i).stop(true).delay(express).animate({
                        'opacity': 1
                    },{
                        duration: that.dur,
                        step: function(now,fx){
                            $(this).css({transform: 'translateY('+(1-now)*that.transY+'px)'});
                        }
                    });
                };
            },
            fadeOut: function(){
                var $listDoms = this.listDoms;
                var len = $listDoms.length;
                for (var i = 0; i < len; i++) {
                    $listDoms.eq(i).removeClass("animate_trans");
                    $listDoms.eq(i).css({'transform':'translateY(5px)'});
                    $listDoms.eq(i).stop(true,true).animate({
                        'opacity': '0'
                    },0);
                };
            }
		};





        var $navAll = $(".nav-all");
        var $secli = $navAll.find('.second .set').children();
        var $globalli = $navAll.find('.global .set').children();
        var $head_global = $(".inner-nav .nav-wrap").find('.setlists').children();

        new FeiyLeft({
            listDoms: $head_global,
            speed: 25,
            dur: 300,
            transY: 5
        }).fadeIn();



        $(".btn-menu").on('click',function(){
            if(!$(this).hasClass('close')){
                $(this).addClass("close");
                $navAll.css({
                    'pointerEvents': 'auto',
                    'visibility': 'visible'
                }).stop(true,true).animate({
                    'opacity': 1
                },{
                    duration: 300,
                    easing:'easeInOutSine'
                });

                new FeiyLeft({
                    listDoms: $head_global
                }).fadeOut();


                new FeiyLeft({
                    listDoms: $secli,
                    speed: 36,
                    dur: 2,
                    transY: 8
                }).fadeIn();

                new FeiyLeft({
                    listDoms: $globalli,
                    speed: 12,
                    dur: 260,
                    transY: 5
                }).fadeIn();

            }else{
                $(this).removeClass("close");
                $navAll.stop(true,true).animate({
                    'opacity': 0,
                },{
                    duration: 300,
                    easing:'easeInQuint',
                    complete: function(){
                        $(this).css({
                            'pointerEvents': 'none',
                            'visibility': 'hidden'
                        })
                    }
                });

                new FeiyLeft({
                    listDoms: $secli
                }).fadeOut();

                new FeiyLeft({
                    listDoms: $globalli
                }).fadeOut();



            }
        });




	</script>
</body>
</html>
