<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>首页 - 大误</title>
	<script src="__STATIC__/home/js/flexible.js"></script>
	<script src="__STATIC__/home/js/flexible_css.js"></script>
	<link rel="stylesheet" href="__STATIC__/home/css/public.css">
	<link rel="stylesheet" href="__STATIC__/home/css/style.css">
</head>
<body>
<div class="header">
	<div class="container header-container clearfix">
		<div class="logo-wrap fl">
			<a href="/home"><img src="__STATIC__/home/images/logo.png" alt=""></a>
		</div>
		<div class="header-nav fr font16">
			<ul class="clearfix">
				<li><a href="/about">大误<span>About</span></a></li>
				<li><a href="/contact">联系<span>Contact</span></a></li>
				<!--<li class="about-index-nav"><a href="/about">关于<span>About</span></a></li>-->
				<!--<li><a href="/product">产品<span>Work</span></a></li>-->

			</ul>
		</div>
	</div>
</div>
<div class="main">
	<div class="container index-container">
		<div class="block-wrap font15">
			<p>用合理的低价</p>
			<p>购买这样就好的产品</p>
		</div>
	</div>
</div>

<script src="__STATIC__/home/js/jquery.js"></script>
<script>
    $(function(){

        $(window).resize(function(){
            getInitHeight();
        });
        getInitHeight();
        function getInitHeight(){
            var hh = $(window).height();
            var top = $('.header').height();
            var bh = hh - top;
            $(".main").css('height',bh);
        }
    });
</script>
</body>
</html>