<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页 - 大误</title>
    <link rel="stylesheet" href="__STATIC__/home/css/public.css">
    <link rel="stylesheet" href="__STATIC__/home/css/style.css">
</head>
<body>
    <div class="header">
        <div class="container header-container clearfix">
            <div class="logo-wrap fl">
                <img src="__STATIC__/home/images/logo.png" alt="">
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container product-container">
            <ul class="pro-list-wrap">
                <li><img src="__STATIC__/home/images/pro1.png" alt=""></li>
                <li><img src="__STATIC__/home/images/pro2.png" alt=""></li>
                <li><img src="__STATIC__/home/images/pro3.png" alt=""></li>
                <li><img src="__STATIC__/home/images/pro4.png" alt=""></li>
                <li><img src="__STATIC__/home/images/pro5.png" alt=""></li>
                <li><img src="__STATIC__/home/images/pro6.png" alt=""></li>
            </ul>
        </div>
    </div>
</body>
</html>